What's your name?

<form method = 'post' action = '/names'
	<input type = 'hidden' name = 'user'>
	<input type = 'hidden' name = 'pass'>
First:	<input type = 'text' name = 'first'><br>
Last:	<input type = 'text' name = 'last'>
	<input type = 'submit'>
</form>